<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.yzubox">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".setting"></activity>
        <activity android:name=".find_outter" />
        <activity android:name=".favorite_music" />
        <activity android:name=".recent_music" />
        <activity android:name=".download" />
        <activity android:name=".allsong" />
        <activity android:name=".forgrt" />
        <activity android:name=".register" />
        <activity android:name=".in_room" />
        <activity android:name=".room" />
        <activity android:name=".play" />
        <activity android:name=".mine" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>